// THEME
$primary-color: #348ac7;
$secondary-color: #7474bf;
$accent-color: #53d1b3;

// COLORS
$bg-color: #fefefe;
$white-color: #f2f2f2;
$blue-color: #1976d2;
$red-color: #f44336;
$green-color: #388e3c;

// FONT FAMILY
$font-logo: 'Anton', sans-serif;
$font-text: 'Poppins', sans-serif;

// TEXT FONT
$text-big: 2.2rem;
$text-medium: 1.8rem;
$text-small: 1.4rem;

// TEXT COLOR
$text-color: #333;

// GRADIENT
$primary-gradient: linear-gradient(to right bottom, $secondary-color, $primary-color);

// HEADING FONT
$heading-secondary: 3.6rem;
