// THEME
$primary-color: #348ac7;
$secondary-color: #7474bf;
$accent-color: #53d1b3;

// COLORS
// $bg-color: #F0F1F5
$bg-color: #fefefe;
$dashboard-bg-color: #f0f1f5;
// $dashboard-bg-color: #fafafa;
$white-color: #ffffff;
$blue-color: #1976d2;
$red-color: #dc3545;
$green-color: #388e3c;

// FONT FAMILY
$font-logo: 'Anton', sans-serif;
$font-text: 'Poppins', sans-serif;

// TEXT FONT
$text-big: 2.2rem;
$text-medium: 1.8rem;
$text-small: 1.6rem;
$text-xsmall: 1.4rem;

// TEXT COLOR
$text-color: #333;

// GRADIENT
$primary-gradient: linear-gradient(to right bottom, $secondary-color, $primary-color);

// HEADING FONT
$heading-secondary: 3.6rem;

// BOX SHADOW
// 0 1px 2px var(--shadow-2)
$box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

// CARD PADDING
$card-padding: 1rem 2rem;

// BORDER-RADIUS
$rounded-border: 5px;

// CONTAINER/PAGE/VIEW MARGIN
$page-margin: 2rem;
