.btn {
  outline: none;
  border: none;
  border-radius: 5px;
  letter-spacing: 0.5px;
  font-weight: 600;
  cursor: pointer;
  padding: 1.2rem 3rem;
  font-size: 1.8rem;
  transition: background 0.3s ease-in-out;
  display: inline;
  align-self: flex-start;
  &--big {
    padding: 1.6rem 4rem;
    font-size: 2rem;
  }
  &--primary {
    background: $primary-color;
    color: $white-color;
  }
  &--light {
    background: $white-color;
    color: $primary-color;
    &:hover {
      background: darken($white-color, 10%);
    }
  }
  &--pilled {
    border-radius: 1000px;
  }
}
