.form {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &--title {
    color: $text-color;
    margin-bottom: 5rem;
    font-weight: 500;
  }

  // FORM GROUP
  &__group {
    width: 100%;
    margin-bottom: 3rem;
  }

  // FORM INPUT
  &__input {
    width: 100%;
    &--input {
      letter-spacing: 0.5px;
      border: none;
      outline: none;
      width: 100%;
      font-size: $text-big;
      padding: 1rem 0.6rem;
      background-color: transparent;
      color: #555;
      display: block;
      position: relative;
      font-weight: 500;
      &::placeholder {
        font-family: inherit;
        color: #777;
      }
      &.small {
        font-size: $text-medium;
        color: #555;
        padding: 0.5rem;
        &::placeholder {
        }
      }
    }
    &--border {
      width: 100%;
      height: 3px;
      background-color: rgba(85, 85, 85, 0.603);
      margin-top: 1px;
      position: relative;
      &.small {
        height: 2px;
        background: rgba(85, 85, 85, 0.253);
      }
      &::after,
      &::before {
        content: '';
        display: table;
        position: absolute;
        width: 0;
        height: 100%;
        top: 0;
        left: 0;
        transition: width 0.5s cubic-bezier(0.74, 0.73, 0.23, 1);
      }
      &::after {
        background-color: $primary-color;
      }
      &::before {
        background-color: $red-color;
      }
    }
    &--input:valid:not(:placeholder-shown) ~ &--border::after {
      width: 100%;
    }
    &--input:not(valid):not(:placeholder-shown) ~ &--border::before {
      width: 100%;
    }
    &--input:focus:not(:valid) ~ &--border::after,
    &--input:focus:valid ~ &--border::before {
      left: auto;
      right: 0;
      width: 0;
    }
    &--input:focus:valid ~ &--border::after,
    &--input:focus:not(:valid) ~ &--border::before {
      width: 100%;
    }

    &--input:placeholder-shown ~ &--label {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-6rem);
    }
    &--label {
      transform: translateY(-7.5rem);
      font-size: $text-small;
      font-weight: 600;
      color: $primary-color;
      margin-left: 0.5rem;
      margin-top: 0.7rem;
      display: block;
      transition: all 0.3s;
    }
  }
}
